.nav-Wrapper{
    background-color: darkolivegreen;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navBar{
    height: 60px;
}
.title{
    font-size: 30px;
}
.searchOption{
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}
.searchInputFields{
    background-color: darkgreen;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1000;
}
.countrySelector{

}