.allNewsWapper{
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.scroolView{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
}
.singleNewsCard{
    width: 250px;
    /*height: 600px;*/
    margin: 25px;
    display: inline-block;
    text-align: left;
    border: 4px solid goldenrod;
    padding: 25px;

}
.singleNewsImg{
    width: 250px;
    min-height: 150px;
    min-width: 250px;
    margin-bottom: 30px;
    display: block;
}
.singleNewsTitle{
    font-weight: bold;
    font-size: 22px;
    color: black;
    display: block;
}
.singleNewsDiscription{
    color: dimgray;
    display: block;
}

.singleNewsDate{
    font-size: 13px;
    display: block;
}
.nav-Wrapper-Closed{
    background-color: darkolivegreen;
    width: 100%;
    height: 60px;
}
.nav-Wrapper-Open{
    background-color: green;
    width: 100%;
    height: 120px;
}
.searchInputFields{
    background-color: darkgreen;
    height: 120px;
    width: 100%;
    z-index: 1000;
}
.showSearchInputFields{
    width: 100%;
    height: 160px;
}
.navBar{
    height: 60px;
}
.title{
    font-size: 30px;
}
.searchOption{
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.countrySelector{

}
.newsSourceNamesDropDown {
    margin-top: 16px;
    width: 400px;
    height: 30px;

}
.selectCenter {
    text-align: center;
}
.spacer {
    display: block;
    height: 200px;
}